doctype html
include includes/head.pug
include includes/nav.pug
main
  // header,first section
  section.About-header
    .row
      .content.text-center
        h1 Our Story
        p
          | In 2023, after the bank reports announced that they were making hundreds of milliads a year, we thought we should put an end to it and help people save thousands of money a year. The thought that we could transfer money between us without paying any fees at the bank could change lives and made us start the company. Let&apos;s stop the monopoly of the big banks on our money together.
      div
        img.img-fluid(src='../../aboutus.PNG' alt='aboutus.png')
  // end header
include includes/footer.pug
