doctype html
include includes/head.pug
include includes/nav.pug
main
  // header,first section
  section.header
    .content.text-center
      h1 Add offer page
      h3 Change cash or bank transfer with people around the wrold without paying fee
      a.head_content(href='') join us
  // end header
include includes/footer.pug
