doctype html
include includes/head.pug
  // custom js
  script(defer='' src='../../JS.js')
include includes/nav.pug
main
  // header,first section
  section.header-my-profile
    div
      h2
        | My History
  // end myhistort tabele,seacond section
  section.offerCard
    #tablemyhistory
  // end myhistort tabele
  // end header
include includes/footer.pug
